body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #000000;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3xGhGrx6xuwYPXtw_Zq-haBr1vXoEoRWawMPXl_g_hg&s");
}

header {
  background-color: #cc0000;
  color: rgb(240, 205, 8);
  text-align: center;
  padding: 20px;
}

.subtitle {
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #333;
  padding: 10px;
}

nav a {
  color: rgba(255, 255, 255, 0.541);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgb(230, 189, 6);
}

main {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 250px;
  padding: 15px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #cc0000;
  color: rgb(219, 181, 12);
  border: none;
  border-radius: 5px;
  padding:15px;
}

button:hover {
  background-color: #ffffff;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* ===== СЕКЦИЯ С ВИДЕО ===== */

.video-section {
  background-color: white;

  /* ОТСТУПЫ СЛЕВА И СПРАВА */
  margin: 40px 60px;     /* сверху/снизу — 40px, слева/справа — 60px */

  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

/* Текст под заголовком */
.video-text {
  margin-bottom: 20px;
  font-size: 16px;
}

/* Контейнер для видео */
.video-box {
  display: flex;
  justify-content: center;  /* ВИДЕО ПО ЦЕНТРУ */
  border: #ff0000;
}

/* Само видео */
.video-box iframe {
  width: 720px;   /* СДЕЛАЛИ ПОБОЛЬШЕ */
  height: 405px;
  border-radius: 12px;
  border: none;
}
.j{ color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
  width: 550px;
  padding: 5px;
  border-radius: 10px;

}

.photo{ 
    background-color: rgb(255, 255, 255);
  width: 250px;
  padding: 15px;
  border-radius: 10px;
}
.net{
color: aliceblue;
}
.imeg{
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.gallery-image{
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
}