body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ff0000;
  color: #333;
}

header {
  background-color: #cc0000;
  color: white;
  text-align: center;
  padding: 20px;
}

.subtitle {
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgb(204, 0, 0);
}

main {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: rgb(204, 0, 0);
  width: 250px;
  padding: 15px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #ffffff;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* ===== СЕКЦИЯ С ВИДЕО ===== */

.video-section {
  background-color: white;

  /* ОТСТУПЫ СЛЕВА И СПРАВА */
  margin: 40px 60px;     /* сверху/снизу — 40px, слева/справа — 60px */

  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

/* Текст под заголовком */
.video-text {
  margin-bottom: 20px;
  font-size: 16px;
}

/* Контейнер для видео */
.video-box {
  display: flex;
  justify-content: center;  /* ВИДЕО ПО ЦЕНТРУ */
  border: #ff0000;
}

/* Само видео */
.video-box iframe {
  width: 720px;   /* СДЕЛАЛИ ПОБОЛЬШЕ */
  height: 405px;
  border-radius: 12px;
  border: none;
}
h1,h2,h3,li, p{
  color: #ffffff;
}
.text{
  color: rgb(0, 0, 0);
}
.pps{
  display: flex;
  justify-content: center;
  color: #ff0000;
}
